@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');

@theme {
  --color-background: #18181b; 
  --color-surface: #27272a;    
  --font-sans: 'Inter', sans-serif;
}

body {
  background-color: var(--color-background);
  color: #ffffff;
  font-family: var(--font-sans);

  background-image: radial-gradient(rgba(255, 255, 255, 0.05) 1px, transparent 1px);
  background-size: 24px 24px;

}


::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #18181b; 
}
::-webkit-scrollbar-thumb {
  background: #3f3f46; 
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #52525b; 
}