@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');

@theme {
 
  --color-background: #fafafa;  
  --color-sidebar: #f4f4f5;     
  --color-card-bg: #ffffff;     
  --color-text-main: #18181b;  
  --color-text-muted: #71717a;  
  
  --font-sans: 'Inter', sans-serif;
}

body {
  background-color: var(--color-background);
  color: var(--color-text-main);
  font-family: var(--font-sans);


  background-image: radial-gradient(#e4e4e7 1px, transparent 1px);
  background-size: 32px 32px;
}


.recharts-wrapper,
.recharts-wrapper *,
.recharts-wrapper *:focus,
.recharts-wrapper *:focus-visible {
    outline: none !important;
    box-shadow: none !important;
    border: none !important;
}


::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: transparent; 
}
::-webkit-scrollbar-thumb {
  background: #d4d4d8; 
  border-radius: 99px;
}
::-webkit-scrollbar-thumb:hover {
  background: #a1a1aa; 
}